 
 html{
 cursor:url('images/pointer.png'),pointer;
  
 }
 
 .loader{
    width: 100%;
  height: 100vh;
  background-image: url("");
  background-repeat: no-repeat;
  background-position: center;
   
  }
    header .nav-link {
    color: white!important;
    font-weight: 500;
    text-transform: capitalize;
    font-family: 'Poppins',sans-serif;
   
}
.bg-dark {
    background-color: hsl(217, 28%, 15%)!important;
}
.row{
    margin-right:0px;
}
.mid-header img{
    width: 100%;
    height: 100%;
}
.mid-header .row{
    flex-direction: column;
    margin-right: 0;
    justify-content: center;
    align-items: center;
    
   
}

.first-cols{
    padding-left: 40px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 10vh;
    padding-bottom: 8vh;
}
.form-inline .form-control {
    width: 323px;
    height: 46px;
}
 h4{
    font-size: 2.2rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    width: 596px;
    padding-top: 22px;
   
}
#first-section h4{
    font-size: 2.1rem;
    text-align: center;
    width: 677px;
}
#second-service h4{
    margin-left: -31px;
    text-align: center;

}
p{
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    width: 545px;
    padding-top: 20px;
    padding-bottom: 20px;

}
form{
    font-family: 'Open Sans',sans-serif;
    margin: 0 auto;
}
 header  .btn-primary{
    width: 180px;
    height: 40px;
    border-radius: 40px;
   color: hsl(322, 100%, 66%);
   background-color: #ffff;
    border-color: hsl(322, 100%, 66%);
}
header .btn-primary:hover {
    color: #fff;
    background-color: #F852C6;
    border-color: #F852C6;
    box-shadow: 0px 0px 2px 3px rgba(88, 88, 88, 0.12);
    transition: 0.5s ease-in;
    outline: none;
}
 img[alt="image2"]{
    width: 100%;
    height: 100%;
}
img[alt="image1"]{
    width: 35px;
    height: 30px;
}
.service-section{
    padding-top: 94px;
    padding-bottom: 40px;
   
    
}


.service-section  h4{
    font-size: 1.1rem;
}
.service-section  p{
    font-size: 15px;
    width: 380px;
    margin: 0 auto;
}
 .btn-primary{
    width: 400px;
    height: 70px;
   background-color: hsl(322, 100%, 66%);
    border-color:hsl(322, 100%, 66%);
    color:white;
    border-radius: 30px;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 1px;

}
.btn-primary:hover {
    color: #fff;
    background-color: #F852C6;
    border-color: #F852C6;
    box-shadow: 0px 0px 2px 3px rgba(88, 88, 88, 0.12);
    transition: 0.5s ease-in;
    outline: none;
}
#second-service{
    padding-top: 40px;
    
}
.section-middle{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 41% 53%;
}

.section-middle a{
    color: hsl(170, 45%, 43%);
    text-decoration: underline;
    font-weight: 400;
    font-family: 'Open Sans',sans-serif;
    font-size: 1rem;
}
.section-middle p{
    font-size: 1.1rem;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    text-align: justify;
    width: 545px;
    /*padding-top:20px;*/
}
#fifth-section .row{
    background-color: #f6fbff;
}
#third-section .row{
    background-color: #f6fbff;
}
#sixth-section {
    padding-top: 20vh;
    padding-bottom: 45vh;
  
   
}

input[type="email"]{
    width: 321px;
    height: 50px;
    border-radius: 5px;
    padding-left: 32px;
  
}
.footer-section{
    position: relative;
}

#bg-image img{
    position: absolute;
    top: -147px;
    width: 100%;
   
}
.footer-section h4{
   margin-left:0px;
    text-align: start;
}

.footer-section p{
    text-align: justify;
    font-size: 1.1rem;
}
.footer-section .form-inline{
    margin:0px;
}

.footer-section  .btn-primary{
    width: 160px;
    height: 50px;
   background-color: hsl(322, 100%, 66%);
    border-color:hsl(322, 100%, 66%);
    color:white;
    border-radius: 5px;
    font-weight: 400;
}
.footer-section{
    background-color: hsl(192, 100%, 9%);
    background-repeat: no-repeat;
       
   
}

ul{
    list-style:none;
}
li{
    color:white;
    font-size:1.1rem;
    padding-top: 32px;
    font-family: 'Open Sans',sans-serif;
    letter-spacing: 0.5px;
}
li:hover{
    color:hsl(322, 100%, 66%);
    
}
.fa{
    font-size: 1.5rem;
}
.fa:hover{
    color:hsl(322, 100%, 66%);
    transition: all 0.5s ease-in-out;
    transform: rotate(360deg);
}

/* hover */
.socail-media{
    display: flex;
    justify-content: space-around;
    width: 213px;
    align-items: center;
}


@keyframes blink{
    0%{
      
        opacity: 0;
        }

    50%{
      
        opacity: 0.4;
        }
    70%{

    opacity: 0.6;
    }
        
    90%{
       
        opacity: 0.8;
        }
    100%{
       
        opacity: 1;
        }
}

.pan{
    animation:blink 2s infinite 0s ease;
}
::selection{
    background-color:hsl(322, 100%, 66%);
    color:white;
}
/* responsive 375px*/
@media(max-width:375px){
    .row{
        margin-right: -15px !important;
        margin-left: -15px !important;
    }
    .mid-header .row{
        flex-wrap: wrap-reverse;
    }
    .section-middle .row{
        flex-wrap: wrap-reverse;
    }

    .mid-header{
        margin-top: 40px;
    padding-top: 20px;
    }
    p{
    width:290px;
    }
    .form-inline .form-control{
        width:287px;
    }
    .mid-header .btn-primary{
        margin-left:0px!important;
        width: 331px;
        height: 70px;
    }
    #second-service h4{
        margin-left: 10px;
        font-size: 2.3rem!important;
    }
  #first-section h4{
    width: 400px;
    padding-left: 26px;
  }
  #first-section p{
    width: 350px;
    font-size: 1.1rem;
    padding-left: 10px;
  }
    h4{
        font-size: 2rem;
        padding-top: 20px;
        padding-bottom: 12px;
        width: 360px;
    }
    .service-section h4{
        font-size: 1.3rem;
        margin: 0 auto;
        
    }
    .service-section p{
        width: 323px;
        padding-top:5px;
    }
    .section-middle p{
        width:323px;
    }
    .section-middle h4{
        font-size:1.2rem;
        margin-top: 20px;
    }
    .profile-section .col-sm-12{
        height: 60vh!important;
    }
    .card{
        width: 347px!important;
    margin-left: -10px;

    }
  
    .last-section .btn-primary{
        width:300px;
    }
    .last-section input{
        width:250px;
        height:50px;
    }
    .last-section{
       
        width: 354px;
        left: 0px;
        top: -300px;
        margin-left: 11px;
        height: 325px;
        
    }
    .last-section h4{
        color: #ffff;
        width: 453px;
        font-size: 1.5rem;
    }
    
    .last-section p{
        width: 336px;
        font-size: 15px;
        margin-left: 25px;

    }
    .last-section .btn-primary{
        width:250px;
        height:50px;
        margin-top:10px;
        
    }
    #footer-form{
        margin-left: 50px!important;
    }
     .socail-media{
        display: flex;
        justify-content: space-evenly;
        margin-left: -20px;
    }
    #fourth-section{
       
        margin-top: 20vh;
    }
    
    #fifth-section{
       
        padding-top: 30px;

    }
    
     #fifth-section .col-sm-12{
        height:75vh!important; 
     }
     #seventh-section .col-lg-6{
        height:75vh!important; 
     }
     #bg-image img{
        top: -40px;
     } 
    .footer-section{
        margin-right: -14px;
    overflow: hidden;
}
    }
    .footer-section .row{
        margin-right: 0px !important;
    }
    #seventh-section> .col-sm-12{
        padding-left: 0px;
    }
    .footer-section p{
        font-size: 1rem;
    }
    .footer-section .btn-primary{
        margin-left: 0px!important;
        margin-top:10px;
    }
    .ft{
        padding-left: 50px!important;
        margin-right: 0px !important;
    }
    .navbar-light .navbar-toggler{
        outline-color:white!important;
    }

}

